<div id="menuPanel">
  <div id="intranetLinks" class="row intranetLinks">
      <div class="col-md-8">
          <a href="https://mwww.ba.ssa.gov/" target="_blank">
              SS Online
          </a> | <a href="http://eis.ba.ssa.gov/eis/index.htm" target="_blank">
              EIS Home
          </a> | <a href="http://ordp.ba.ad.ssa.gov/ODP/" target="_blank">
              ODP Home
          </a> | <a href="http://eview.ba.ssa.gov" target="_blank">
              eView
          </a> | <a href="https://entsearch.ba.ssa.gov/Pages/default.aspx" target="_blank">
              EIS Search
          </a> | <a href="mailto:OPCA.Controls@ssa.gov" target="_blank">
              Contact Us
          </a>
      </div>
     <div class="col-md-4">
         <userInfo></userInfo>
     </div>
  </div>
</div>
